body {
  font-family: 'Neucha', cursive;
}

h1,h2,h3,h4,h5,h6 {
    padding-top: 0.5rem;
    font-family: 'Neucha', cursive;
}
p {
    font-size: 20px;
    font-family: 'Neucha', cursive;
}

.navbar-brand {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Neucha', cursive;
}
