{{! base.mustache }}
<!DOCTYPE html>
<html lang="en">
{{$header}}{{/header}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-item" href="/">Diarist</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/get_started">Get Started</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_diary">My Diary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
{{$content}}{{/content}}
</div>
</html>