{{! journal.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}Get started{{/title}}
{{/header}}
{{/header}}

{{$content}}
    <div class="my-3 mx-auto" style="max-width: 20rem;">
        <form name="formRegister" id="formRegister" method="POST" action="registerForm" >
            <fieldset>
                <legend>Create a free account</legend>
                <div class="form-group">
                    <label for="phoneNumber">Phone number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" aria-describedby="phoneDisclaimer" placeholder="+1 (541) 7543010...">
                    <small id="phoneDisclaimer" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="passcode">Passcode</label>
                    <input type="password" class="form-control" id="passcode" name="passcode" aria-describedby="passcodeDisclaimer">
                    <small id="passcodeDisclaimer" class="form-text text-muted">Use at least 10 characters.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
{{/content}}
{{/base}}
