{{! journal.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}Diarist App{{/title}}
{{/header}}
{{/header}}

{{$content}}
    <div class="my-3 mx-auto" style="max-width: 20rem;">
        <form>
            <fieldset>
                <legend>Hello there! </legend>
                <div class="form-group">
                    <label for="inputPhone">Phone number</label>
                    <input type="text" class="form-control" id="inputPhone" aria-describedby="phoneDisclaimer" placeholder="Enter your phone number...">
                    <small id="phoneDisclaimer" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
                </div>
                <fieldset class="form-group">
                    <legend>Reminder</legend>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                            How was your day today?
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                            How are your alergies
                        </label>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
{{/content}}
{{/base}}
