{{! index.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}Diarist App{{/title}}
{{/header}}
{{/header}}

{{$content}}
<table class="table">
    <thead>
        <th>Created</th>
        <th>Content</th>
    </thead>
    <tbody>
    {{#meep}}
        <tr>
            <td>{{created}}</td>
            <td>{{content}}</td>
        </tr>
    {{/meep}}
    </tbody>
</table>
{{^meep}}
    <div class="well">
        There are no diary records for this number.
    </div>
{{/meep}}
{{/content}}
{{/base}}
