{{! my_diary_login.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}Log in{{/title}}
{{/header}}
{{/header}}

{{$content}}
    {{#badLogin}}
        <div class="alert alert-dismissible alert-danger my-3 mx-auto text-center" style="max-width: 30rem;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Invalid login.</strong> Please try again.
        </div>
    {{/badLogin}}
    <div class="my-3 mx-auto card" style="max-width: 20rem;">
        <form name="formRegister" id="formRegister" method="POST" action="/log_in" >
            <legend>Open your journal</legend>
            <fieldset>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Your username..." required maxlength="20">
                </div>
                <div class="form-group">
                    <label for="passcode">Passcode</label>
                    <input type="password" class="form-control" id="passcode" name="passcode" required maxlength="30">
                </div>
                <button type="submit" class="btn btn-primary">Open</button>
            </fieldset>
        </form>
    </div>
{{/content}}
{{/base}}
