{{! journal.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}Welcome{{/title}}
{{/header}}
{{/header}}

{{$content}}
    <div class="my-3 mx-auto w-50" style="min-width: 20rem;">
        <div class="card embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fPkPesz-t_Q" allow="picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
{{/content}}
{{/base}}
