{{! journal.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}Welcome{{/title}}
{{/header}}
{{/header}}

{{$content}}


    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class ="nav navbar-nav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item onboard-menu">
                            <a class="nav-link onboard-title active my-3" data-toggle="tab" href="#reminders"><h3>Get reminders</h3></a>
                        </li>
                        <li class="nav-item onboard-menu">
                            <a class="nav-link onboard-title my-3" data-toggle="tab" href="#whatsapp"><h3>Update via whatsapp</h3></a>
                        </li>
                        <li class="nav-item onboard-menu">
                            <a class="nav-link onboard-title my-3" data-toggle="tab" href="#browser"><h3>View on your browser</h3></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-8 content">
                <div class="mt-5">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active show" id="reminders">
                            <h1>Reminders</h1>
                            <p class="text-justify">
                                It will be seen that this mere painstaking burrower and grub-worm of a poor devil of a Sub-Sub appears to have gone through the long Vaticans and street-stalls of the earth, picking up whatever random allusions to whales he could anyways find in any book whatsoever, sacred or profane.
                                Therefore you must not, in every case at least, take the higgledy-piggledy whale statements, however authentic, in these extracts, for veritable gospel cetology.
                                Far from it.
                            </p>
                        </div>
                        <div class="tab-pane fade show" id="whatsapp">
                            <h1>Whatsapp</h1>
                            <p class="text-justify">
                                It will be seen that this mere painstaking burrower and grub-worm of a poor devil of a Sub-Sub appears to have gone through the long Vaticans and street-stalls of the earth, picking up whatever random allusions to whales he could anyways find in any book whatsoever, sacred or profane.
                                Therefore you must not, in every case at least, take the higgledy-piggledy whale statements, however authentic, in these extracts, for veritable gospel cetology.
                                Far from it.
                            </p>
                        </div>
                        <div class="tab-pane fade show" id="browser">
                            <h1>Browser</h1>
                            <p class="text-justify">
                                It will be seen that this mere painstaking burrower and grub-worm of a poor devil of a Sub-Sub appears to have gone through the long Vaticans and street-stalls of the earth, picking up whatever random allusions to whales he could anyways find in any book whatsoever, sacred or profane.
                                Therefore you must not, in every case at least, take the higgledy-piggledy whale statements, however authentic, in these extracts, for veritable gospel cetology.
                                Far from it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/content}}
{{/base}}
