{{! journal.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}About Diarist{{/title}}
{{/header}}
{{/header}}

{{$content}}
    <div class="my-3 mx-auto" style="max-width: 30rem; background: white;">
        <h1>Welcome to Diarist!</h1>
        <p class="text-justify">
            In a few moments you are going to receive a whatsapp message from us.
            When you are ready to write your first entry just reply to that message.
            If you want to checkout out your past entries just go to the "My Journal" secton.
        </p>
        <p class="text-justify">
            We hope you enjoy the app!
        </p>
    </div>
{{/content}}
{{/base}}
